
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}
h1{
    text-align: center;
    font-size: 32px;
    color: #3498db; 
    padding-top: 10px;
    margin-bottom: 10px;
}

.container {
    width: 60%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}


#studentForm {
    display: grid;
    grid-gap: 20px;
}


label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    color: #555; 
}


input,
select {
    width: calc(100% - 12px);
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    color: #333; 
}


.checkbox-group,
.radio-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


input[type="checkbox"],
input[type="radio"] {
    margin-right: 5px;
}


button {
    padding: 15px 25px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

button:hover {
    background-color: #2980b9;
}


#output {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    font-size: 18px;
}


@media screen and (max-width: 600px) {
    .container {
        width: 80%;
    }
}
